@section metadata {
    <meta name="Environment" content="@ViewBag.Environment" />
    <meta name="Version" content="@ViewBag.Version" />
}

<div id="react-app">
    <div style="text-align: center; width: 100%; font-family: Open Sans; font-size: 27px; margin-top: 100px;">
        Starting OGM 3
    </div>
</div>

@section scripts {    
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
