<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<body>
	<nav class="navbar" style="background-color: lightslategrey">
		<div class="navbar-brand">
			<h2 class="navbar-item"><strong style="color: white">DroneUp</strong></h2>
		</div>
	</nav>
	<div class="container">
		<div class="columns" style="margin-top: 20px; margin-bottom: 20px;">
			<div class="column">
				<div>
					<button type="button" id="start-stop-button">Start Game</button>
					<button disabled type="button" id="pause-resume-button">Pause Game</button>
				</div>
				<div>
					<label for="seep-input">Seed:</label>
					<input id="seed-input" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></input>
				</div>
				<div>
					<input type="file" id="file-uploader">
				</div>
				<div>
					<div>Options</div>
					<div>
						<label for="render-grid-checkbox">Render Grid:</label>
						<input id="render-grid-checkbox" type="checkbox" />
					</div>

					<div>
						<label for="animation-speed-slider">Animation Speed: <span id="animation-speed-value" /></label>
						<br />
						<input id="animation-speed-slider" type="range" min="0.5" max="5" step="0.5" />
					</div>
					<div>
						<input type="text" id="focus-player-id"></input>
					</div>
				</div>
			</div>
			<div class="column">
				<canvas id="game-canvas" width="1000" height="800" style="background: #4D4D4D;"></canvas>
			</div>
		</div>
	</div>
</body>
<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				<strong>DroneUp 2017</strong>
			</p>
			<p>
				<a class="icon" href="https://github.com/alexriedl/drone-up">
					<i class="fa fa-github"></i>
				</a>
			</p>
		</div>
	</div>
</footer>
</html>

@section scripts {
	<script type='text/javascript' src='~/dist/main.js' asp-append-version="true"></script>
}
