<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("metadata", required: false)
    <title>@ViewData["Title"] - DroneUp</title>
    <script src="~/dist/common.js" asp-append-version="true"></script>
</head>
<body>
    <noscript>
        <div class="container">
            <div class="row">
                <h1 class="text-danger">Javascript is disabled in your web browser.</h1>
                <section>
                    <p>For the full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a> or you can contact your system administrator to do it for you.</p>
                </section>
            </div>
        </div>
    </noscript>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
